<title>Shared Todo App</title>

<div class="container">

<div class="row">

<div class="span12">

<h1>Get Stuff Done</h1>

<hr>

<p>Update details for To Do</p>



<% if !flash[:error].nil? %>

  <div class="alert alert-error">

    <button type="button" class="close" data-dismiss="alert" >x</button>

    <strong><%= flash[:error] %></strong>

  </div>

<% end %>

<% if flash[:success] %>

  <div class="alert alert-success">

     <button type="button" class="close" data-dismiss="alert" >x</button>

    <strong><%= flash[:success] %></strong>

  </div>

<% end %>

<div class="well">
  

<<<<<<< HEAD
  <%= form_for @user, :url => { :action => "updateuser" } do |f| %>
  
    <table style="width:600">
  <tr><td width:10%>Username:</td><td width:40%><%= f.text_field :username, :value => @user.username %></td>
      <td width:10%>Email:</td><td width:40%><%= f.text_field :email,  :value => @user.email %></td></tr>
  <tr><td width:80%><br><%= f.submit "Update Details", class: "btn btn-primary" %></td></td><td width:10%><br><%= link_to 'Back', :back %></td></tr>
  </table>
=======
  <%= form_for @user, :url => { :action => "updateuser" }, class="form-group" do |f| %>
  
    <div class="form-group">
	<label for = "username">Username</label><input type="text" class="form-control" id  


>>>>>>> 41c4080cf0eec91f54f90a650f2f0ec856d77541
  <% end %>

</div> <!-- well -->

</div> <!-- span12 -->

</div> <!-- row -->

</div> <!-- container -->
