<title>Shared Todo App</title>

<div class="container">

<div class="row">

<div class="span6">

<h1>Shared Todo App</h1>

<hr>

<%= form_for @new_todo, :url => { :action => "add" } do |f| %>

  <%= f.text_field :todo_item %>
  <%= f.submit "Add todo", class: "btn btn-primary" %>

<% end %>

<% if !flash[:error].nil? %>

  <div class="alert alert-error">

    <button type="button" class="close" data-dismiss="alert" >x</button>

    <strong><%= flash[:error] %></strong>

  </div>

<% end %>

<% if flash[:success] %>

  <div class="alert alert-success">

     <button type="button" class="close" data-dismiss="alert" >x</button>

    <strong><%= flash[:success] %></strong>

  </div>

<% end %>

<table width="940">

<tr valign="top">

<td width = 49%>

<div class="well">

  <%= form_tag("/todos/complete/", :method => "post") do %>
<h4>Today</h4>
    <table width="460">
	
      <tr>
      <td width = 60%><strong>Item</strong></td>
      <td width = 15%><strong>For</strong></td>
      <td width = 25%><strong>Deadline</strong></td>
      </tr>
      <% @todo_today.each do |t| %>
	<tr>	
	<td width=60%><% if t.todo_complete == true %>
          
          <%= check_box_tag "todos_checkbox[]",t.id %> <strike><%= t.todo_item %></strike>

        <% else %>

          <%= check_box_tag "todos_checkbox[]",t.id %> <%= link_to t.todo_item, details_path(t.id) %>

        <% end %></td>
	<td width=15%><%= t.todo_for %></td>
	<td width=25%><%= t.todo_deadline %></td>
      <% end %></tr>
    </table>
    <br>
    <%= submit_tag("Complete", :class=>"btn btn-success", :name=>"complete_todo") %>
    <%= submit_tag("Delete", :class=>"btn btn-danger", :name=>"delete_todo") %>
  <% end %>

</div> <!-- well -->

</td>

<td width=2%></td>

<td width = 49%>

<div class="span3">

<div class="well">

  <%= form_tag("/todos/complete/", :method => "post") do %>
<h4>Tomorrow</h4>
    <table width="220">
	
      <tr>
      <td><strong>Item</strong></td>
      </tr>
      <% @todo_tomorrow.each do |t| %>
	<tr>	
	<td><% if t.todo_complete == true %>
          
          <%= check_box_tag "todos_checkbox[]",t.id %> <strike><%= t.todo_item %></strike>

        <% else %>

          <%= check_box_tag "todos_checkbox[]",t.id %> <%= link_to t.todo_item, details_path(t.id) %>

        <% end %></td>

      <% end %></tr>

    </table>
    <br>
    <%= submit_tag("Complete", :class=>"btn btn-success", :name=>"complete_todo") %>
    <%= submit_tag("Delete", :class=>"btn btn-danger", :name=>"delete_todo") %>
  <% end %>

</div>

</div> <!-- well -->

</td>

<td width=2%></td>

<td width = 49%>

<div class="span3">

<div class="well">

  <%= form_tag("/todos/complete/", :method => "post") do %>
<h4>Rest of the Week</h4>
    <table width="220">
	
      <tr>
      <td><strong>Item</strong></td>
      </tr>
      <% @todo_week.each do |t| %>
	<tr>	
	<td><% if t.todo_complete == true %>
          
          <%= check_box_tag "todos_checkbox[]",t.id %> <strike><%= t.todo_item %></strike>

        <% else %>

          <%= check_box_tag "todos_checkbox[]",t.id %> <%= link_to t.todo_item, details_path(t.id) %>

        <% end %></td>

      <% end %></tr>

    </table>
    <br>
    <%= submit_tag("Complete", :class=>"btn btn-success", :name=>"complete_todo") %>
    <%= submit_tag("Delete", :class=>"btn btn-danger", :name=>"delete_todo") %>
  <% end %>

</div>

</div> <!-- well -->

</td>

<td width=2%></td>

<td width = 49%>

<div class="span3">

<div class="well">

  <%= form_tag("/todos/complete/", :method => "post") do %>
<h4>Personal</h4>
    <table width="220">
	
      <tr>
      <td><strong>Item</strong></td>
      </tr>
      <% @todo_personal.each do |t| %>
	<tr>	
	<td><% if t.todo_complete == true %>
          
          <%= check_box_tag "todos_checkbox[]",t.id %> <strike><%= t.todo_item %></strike>

        <% else %>

          <%= check_box_tag "todos_checkbox[]",t.id %> <%= link_to t.todo_item, details_path(t.id) %>

        <% end %></td>

      <% end %></tr>

    </table>
    <br>
    <%= submit_tag("Complete", :class=>"btn btn-success", :name=>"complete_todo") %>
    <%= submit_tag("Delete", :class=>"btn btn-danger", :name=>"delete_todo") %>
  <% end %>

</div>

</div> <!-- well -->

</td>

</tr>

</table>

</div> <!-- span4 -->

</div> <!-- row -->

</div> <!-- container -->