<!DOCTYPE html>
<html>
<head>
  <title>Jarvis</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/todos/index">Get Stuff Done</a>
    </div>
<% if session[:user_id].nil? %>

<% else %>
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<li><a href="/projects/index">Projects</a></li>
        <li><a href="/admin/index">Admin</a></li>
	<li><a href="/logout">Logout</a></li>
      </ul>
      <%= form_for @new_todo, :url => { :action => "add", :controller => "todos" } do |f| %>
	<%= f.hidden_field :todo_project, :value => params[:project] %>
	    <div class="input-group">
	      <%= f.text_field :todo_item, class: "form-control", placeholder: "Get this done..." %>
	      <span class="input-group-btn">
		<%= f.submit "Add To Do", class: "btn btn-primary" %>
	      </span>
	    </div><!-- /input-group -->

	<% end %>
  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

<% end %>

</nav>
<%= yield %>

</body>
</html>
